.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  &--blue {
    color: getColor("first-logo-color");
  }
  &--dark {
    color: getColor("third-logo-color");
  }
  &--white {
    color: getColor("second-logo-color");
  }
}
