.social__link {
  @extend %flex-center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: getColor("icon-color");
  transition: background-color $transition-duration $timing-function,
    color $transition-duration $timing-function;
}
